#menu-tabs {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0; /* dùng left+right thay vì width:100% */
  height: 60px;
  background: #fff;
  border-top: 1px solid #ddd;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.05);
  z-index: 1050;

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  /* Fix overflow do pixel rounding khi scroll */
  transform: translateZ(0);
  overflow-x: hidden;
  li {
    flex: 1;
    list-style: none;
  }
  a {
    font-size: 0.9rem;
  }
  li.active a {
    color: #0d6efd !important; /* Màu xanh Bootstrap */
  }
  li.active i {
  }
}
